@use 'base/reset';
@use 'layout/spacing';
@use 'base/colors';

body {
    font-family: 'Roboto', sans-serif;
}

// header {
    
//     // opacity: .8;
    
// }

header {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('images/greek-building.jpg');
    background-position: 50% 30%;
    
    
}
