

@mixin flex-me ($flex: flex, $direction, $jcontent, $a-items, $wrap: nowrap){
    display: $flex;
    flex-direction: $direction;
    justify-content: $jcontent;
    align-items: $a-items;
    flex-wrap: $wrap;
}

header {
    @include flex-me(flex, row, space-between, center,)
}

main {
    @include flex-me(flex, row, flex-start, -items, )
}