@use '../base/variables' as *;


.container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    overflow: hidden;
    box-shadow: $my-box-shadow;
}

.marginLeft {
    margin-left: 5%;
}

.marginRight {
    margin-right: 5%;
}

header {
    height: 400px;

    :nth-child(2) {
        @extend .marginRight;
    }
}

.profilePic {
    overflow: hidden;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    @extend .marginLeft;

    img {
        height: 400px;
        width: auto;
        position: relative;
        bottom: 50px;
    }
}

.personalInfo {
    width: 35%;
    margin: 5%;
}

.skillsSec {
    margin: 5%;
}