


.container {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    margin-top: 5%;
    height: 400px;
    // display: ;
}

.profilePic {
    overflow: hidden;
    height: 250px;
    width: 250px;
    border-radius: 125px;
    img {
        height: 350px;
        position: relative;
        bottom: 50px;
    }
}