@use '../base/variables' as *;


.container {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    overflow: hidden;
    box-shadow: $my-box-shadow;
}

.marginLeft {
    margin-left: 5%;
}

.marginRight {
    margin-right: 5%;
}

header {
    height: 400px;

    :nth-child(2) {
        @extend .marginRight;
    }
}

.profilePic {
    overflow: hidden;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    @extend .marginLeft;

    img {
        height: 400px;
        width: auto;
        position: relative;
        bottom: 50px;
    }
}

main {
    .personalInfo {
        width: 35%;
        padding: 5%;

    }

    .skillsSec {
        padding: 5%;

    }

    .personalInfo div,
    .skillsSec div {
        height: 5px;
        width: 90px;
        margin: 25px 0;
        background-color: $font-color;
    }

    h2 {
        letter-spacing: .6rem;
        span {
            display: block;
            margin-top: .5rem;
        }
    }
}