@use '../base/variables' as *;

body {
    background: rgb(174, 176, 238);
    background: radial-gradient(circle, rgba(174, 176, 238, 1) 0%, rgba(13, 78, 153, 0.836594012605042) 100%);
}

header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/greek-building.jpg');
    background-position: 50% 30%;
}

.personalInfo {
    background-color: $background-pallete1;
}

.skillsSec {
    background-color: $background-pallete2;
}

main h2 {
    color: $font-color;
}

