$font-color: #545454;
$background-pallete2: #EFEFEF;
$my-font: 'Roboto', sans-serif;
$my-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$h1-size: 5rem;
$h2-size: 1.5rem;
$p-size: 1.3rem;
$li-size: 1rem;
$background-pallete1: #FFFFFF;
$dark: #4B4B4B;

