$font-color: #868789;
$background-pallete: #545454;
$my-font: 'Roboto', sans-serif;
$my-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$h1-size: 5rem;
$h2-size: 1.5rem;
$p-size: 1rem;
$li-size: 1rem;
$white: #FFFFFF;

